* {
    padding: 0;
    margin: 0;
    box-sizing: inherit;
}

html {
    font-size: 62.5%; /*so that 1rem = 10px*/
}

body {
    background-color: black;
    color: white;
    box-sizing: border-box;
}

.gameGrid {
    display: flex;
    flex-wrap: wrap;

    width: 410px;
    height: 410px;
    
    border: 1px solid wheat;
}

.gameGrid div {
    width: 20px;
    height: 20px;
    /* background-color: whit; */
    /* background-color: rgb(39, 37, 37); */
}

.enemy {
    background-color: blue;
    border-radius: 10px;
}

.player {
    background-color: orangered;
    border-radius: 2px;
}

.laser {
    background-image: linear-gradient(to right, rgba(0, 0, 0) 35%, yellowgreen 65%, rgba(0, 0, 0) 100%);
    
}